# datagen configuration
# case-sensitive!

#Host="68.128.182.172"
Host = "localhost"
Port = 9042

Keyspace = "sandbox"
#Keyspace = "testivo"
#Consistency = "quorum"
Consistency = "one"
Truncate = false
Random = false
Count = 10

#expiration time in seconds
# set to 0 to disable TTL
#Ttl = 1440

Repeat = false
Delay  = 10
Progress = 10

Filename  = "extr10.txt"
Foreignid = "22a37bd9-ac47-11e6-bec9-f45c898a2447"
Tenantid  = "22a222e7-ac47-11e6-bec5-f45c898a2447"

