# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.glide/
pkg/
bin/
hello
rest
vendor
.vscode
debug
golang.org
golang


gorilla
hashicorp
#gopkg.in
pkg

https://github.com/spf13/cobra
acroca
armon
deckarep
derekparker
fsnotify
mitchellh
nanobox-io
nanopack
spf13
sqs
uudashr
sourcegraph
MichaelTJones/
coreos/
jcelliott/
magiconair/
nsf/
pelletier/
ramya-rao-a/
rogpeppe/
xordataexchange/
